# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
*.spec
/build/
/dist/

# Virtual environment
.venv/
venv/
ENV/

# macOS
.DS_Store

# IDE / Editor specific
.vscode/
.idea/